<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Area</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Total Building Area</td>
            <td><%=output.area['Total Building Area'].value %>  <%=output.area['Total Building Area'].units%></td>
        </tr>
        <tr>
            <td>Net Conditioned Building Area</td>
            <td><%=output.area['Net Conditioned Building Area'].value %>  <%=output.area['Net Conditioned Building Area'].units%></td>
        </tr>
        <tr>
            <td>Net Conditioned Building Area</td>
            <td><%=output.area['Net Conditioned Building Area'].value %>  <%=output.area['Net Conditioned Building Area'].units%></td>
        </tr>
    </tbody>
</table>
