<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Program Version and Build</th>
            <th>
                <%=output.general[ 'Program Version and Build'].value %>
            </th>

        </tr>
        <tr>
            <th>Run Period</th>
            <th>
                <%=output.general[ 'RunPeriod'].value %>
            </th>

        </tr>
        <tr>
            <th>Weather File</th>
            <th>
                <%=output.general[ 'Weather File'].value %>
            </th>

        </tr>
        <tr>
            <th>Latitude</th>
            <th>
                <%=output.general[ 'Latitude'].value %>
                    <%=output.general[ 'Latitude'].units %>
            </th>

        </tr>
        <tr>
            <th>Longitude</th>
            <th>
                <%=output.general[ 'Longitude'].value %>
                    <%=output.general[ 'Longitude'].units %>
            </th>

        </tr>
        <tr>
            <th>Elevation</th>
            <th>
                <%=output.general[ 'Elevation'].value %>
                    <%=output.general[ 'Elevation'].units %>
            </th>

        </tr>
        <tr>
            <th>Time Zone</th>
            <th>
                <%=output.general[ 'Time Zone'].value %>
            </th>

        </tr>
        <tr>
            <th>North Axis Angle</th>
            <th>
                <%=output.general[ 'North Axis Angle'].value %>
                    <%=output.general[ 'North Axis Angle'].units %>
            </th>

        </tr>
        <tr>
            <th>Rotation for Appendix G</th>
            <th>
                <%=output.general[ 'Rotation for Appendix G'].value %>
                    <%=output.general[ 'Rotation for Appendix G'].units %>
            </th>

        </tr>
        <tr>
            <th>Hours Simulated</th>
            <th>
                <%=output.general[ 'Hours Simulated'].value %>
                    <%=output.general[ 'Hours Simulated'].units %>
            </th>

        </tr>
    </tbody>
</table>
