<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Program Version and Build</td>
            <td>
                <%=output.general[ 'Program Version and Build'].value %>
            </td>

        </tr>
        <tr>
            <td>Run Period</td>
            <td>
                <%=output.general[ 'RunPeriod'].value %>
            </td>

        </tr>
        <tr>
            <td>Weather File</td>
            <td>
                <%=output.general[ 'Weather File'].value %>
            </td>

        </tr>
        <tr>
            <td>Latitude</td>
            <td>
                <%=output.general[ 'Latitude'].value %>
                    <%=output.general[ 'Latitude'].units %>
            </td>

        </tr>
        <tr>
            <td>Longitude</td>
            <td>
                <%=output.general[ 'Longitude'].value %>
                    <%=output.general[ 'Longitude'].units %>
            </td>

        </tr>
        <tr>
            <td>Elevation</td>
            <td>
                <%=output.general[ 'Elevation'].value %>
                    <%=output.general[ 'Elevation'].units %>
            </td>

        </tr>
        <tr>
            <td>Time Zone</td>
            <td>
                <%=output.general[ 'Time Zone'].value %>
            </td>

        </tr>
        <tr>
            <td>North Axis Angle</td>
            <td>
                <%=output.general[ 'North Axis Angle'].value %>
                    <%=output.general[ 'North Axis Angle'].units %>
            </td>

        </tr>
        <tr>
            <td>Rotation for Appendix G</td>
            <td>
                <%=output.general[ 'Rotation for Appendix G'].value %>
                    <%=output.general[ 'Rotation for Appendix G'].units %>
            </td>

        </tr>
        <tr>
            <td>Hours Simulated</td>
            <td>
                <%=output.general[ 'Hours Simulated'].value %>
                    <%=output.general[ 'Hours Simulated'].units %>
            </td>

        </tr>
    </tbody>
</table>
