<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Gross Roof Area</td>
            <td><%=output['skylightRoofRatio']['Gross Roof Area'].value %>  <%=output['skylightRoofRatio']['Gross Roof Area'].units %></td>
        </tr>
        <tr>
            <td>Skylight Area</td>
            <td><%=output['skylightRoofRatio']['Skylight Area'].value %>  <%=output['skylightRoofRatio']['Skylight Area'].units %></td>
        </tr>
        <tr>
            <td>Skylight-Roof Ratio</td>
            <td><%=output['skylightRoofRatio']['Skylight-Roof Ratio'].value %>  <%=output['skylightRoofRatio']['Skylight-Roof Ratio'].units %></td>
        </tr>

    </tbody>
</table>
