<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Total</th>
            <th>North (315 to 45 deg)</th>
            <th>East (45 to 135 deg)</th>
            <th>South (135 to 225 deg)</th>
            <th>West (225 to 315 deg)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Gross Wall Area</td>
            <% for(var i=0;i<output.windowWallRatio["Gross Wall Area"].length; i++){ %>
            <td> <%=output.windowWallRatio["Gross Wall Area"][i].value %>  <%=output.windowWallRatio["Gross Wall Area"][i].units %>  </td>
            <%}%>
        </tr>
        <tr>
            <td>Window Opening Area</td>
            <% for(var i=0;i<output.windowWallRatio["Window Opening Area"].length; i++){ %>
            <td> <%=output.windowWallRatio["Window Opening Area"][i].value %>  <%=output.windowWallRatio["Window Opening Area"][i].units %>  </td>
            <%}%>
        </tr>
        <tr>
            <td>Window-Wall Ratio</td>
            <% for(var i=0;i<output.windowWallRatio["Window-Wall Ratio"].length; i++){ %>
            <td> <%=output.windowWallRatio["Window-Wall Ratio"][i].value %>  <%=output.windowWallRatio["Window-Wall Ratio"][i].units %>  </td>
            <%}%>
        </tr>
    </tbody>
</table>
